astroid==2.3.1
beautifulsoup4==4.8.0
bs4==0.0.1
certifi==2019.9.11
chardet==3.0.4
Click==7.0
cssselect==1.1.0
cycler==0.10.0
dnspython==1.16.0
Flask==1.1.1
Flask-Cors==3.0.8
Flask-SQLAlchemy==2.4.1
future==0.18.2
GChartWrapper==0.8
gpcharts==1.3.3
gunicorn==20.0.4
heroku==0.1.4
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
kiwisolver==1.1.0
lazy-object-proxy==1.4.2
lxml==4.4.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
numpy==1.17.3
parsel==1.5.2
pipenv==2018.11.26
pylint==2.4.3
pymongo==3.10.0
pyparsing==2.4.4
python-dateutil==1.5
PyYAML==5.1.2
requests==2.22.0
selectorlib==0.14.0
six==1.12.0
soupsieve==1.9.3
SQLAlchemy==1.3.12
typed-ast==1.4.0
urllib3==1.25.5
virtualenv==16.7.9
virtualenv-clone==0.5.3
w3lib==1.21.0
Werkzeug==0.16.0
wrapt==1.11.2
